.navbar{
    background-color: #F9E3BE;
}
a:link a:visited{
    color: black!important;
    text-decoration: none;
}
.nav-link{
    color: black!important;
    text-decoration: none;
}
i{
    font-size: 50px;
}
.centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}